<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Lister</title>
    <meta descriptions="github project lister">
</head>

<body>
	<section>
		<h2>Example Application</h2>
		<form action="/example-app/submit" method="POST">
			<label for="username">github username</label><br>
			<input type="text" id="username" name="username" value="littlebenlittle"><br>
			<input type="submit" value="Submit">
		</form>
	</section>
	<section>
		<h2>Lesson Plans</h2>
		<ul>
			<li><a href="/example-app/content/iterative.html">Iterative Structures</a></li>
			<li><a href="/example-app/content/recursion.html">Recursive Functions</a></li>
		</ul>
	</section>
	<section>
		<h2>App Source</h2>
		<p><a href='https://github.com/littlebenlittle/sample-app'>https://github.com/littlebenlittle/sample-app</a></p>
	</section>
</body>

</html>